/* ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ */
html, body {
    height: 95%;
    /*border: 3px double #999999;*/

    font-family: Arial-Narrow, Arial, Verdana, sans-serif;
    padding: 1px;
    margin: 0;

    background: #404045;
    color: #333;

    position: relative; /* absolute | fixed | relative | static | inherit */
}

/* ЗАГОЛОВОК СТРАНИЦЫ */
.upLabelDiv {
    padding-bottom: 9px;
    display: block;
}

h1 {
    height: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:42px;
    color: #fff
}

label {
    font-size:21px;
    color: white;
}



/* ФОРМА С ДАННЫМИ */
#passportForm {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;

    justify-items: stretch;
    justify-content: space-between;
}


.northBlockDiv {
    /*height: 43%;*/

    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;

    flex-grow: 9;
}
.upLeftFormDiv {
    margin: 0;
    padding: 3px;
    /*background: lime;*/
    border: 2px outset gray;
    display: block;
    flex-grow: 1;
}
.upRightFormDiv {
    /*background: cornflowerblue;*/
    display: block;
    border: 2px outset gray;
    padding: 3px;
    margin: 0;
    flex-grow: 2;
}


/* ПОЛЯ ФОРМЫ */
.data {
    width: 100%;
    font-size: 28px;
    display: block;
    /*background: blueviolet;*/
    color: white;
}
.fieldLabel {
    display: inline;
}
.fieldInput {
    width: 50%;
    display: flex;
    flex-flow: row;

    align-content: center;
    align-items: stretch;

    justify-content: space-evenly;

    font-size: 18px;
    /*background: blue;*/
    float: right;
    overflow: hidden;
}
.phoneHFieldBody {
    display: flex;
    flex-flow: row;


    overflow: hidden;
    color: white;
    padding: 0;
    margin-top: 3px;
}
.fioField, .passField, .birthField, .addrField, .phoneFieldBody, .mailFieldBody, .sexFieldBody {
    background: #ccc;
    width: 100%;
    float: right;
    font-family: monospace, Helvetica, sans-serif;
    font-size: 14pt;
    display: inline;
    text-align: center;
}

.areaLabel, .dataLabel {
    color: white;
    padding-bottom: 6px;
    /*background: #333366;*/
}
.commentArea {
    background: black;
    color: lime;
    width: 100%;
    height: 91%;
    display: block;
    resize: none;
}

input:valid {
    color: green;
}
input:invalid {
    color: red;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* ВЕХИ */
.midFilterPane {
    background: #383842;
    color: white;
    border: 2px double #999999;
    padding: 3px;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-grow: 1;
}
.checkDiv01, .checkDiv02, .checkDiv03, .checkDiv04 {
    padding-top: 3px;
    display: block;
}

.milestone__color {
    background: #404045;
}

.milesLine {
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;
    flex-grow: 36;

    /*background: darkred;*/
}
.milestoneDiv {
    display: block;
    border: 2px outset gray;

    width: 75%;
    min-width: 25%;
    height: 100%;

    /*background: lime;*/
}
.resizeSpan {
    display: block;
    float: right;
    width: 8px;
    height: 100%;
    background: #669;
    cursor: e-resize;
}
.historyArea {
    display: block;
    border: 2px outset gray;

    width: 75%;
    min-width: 25%;

    background: black;
    color: lime;
    resize: none;
}


/* КНОПКИ ФОРМЫ */
.buttonsLineDiv {
    display: flex;
    flex-flow: row;

    margin-bottom: -30px;
    margin-top: 6px;

    /*background: #333366;*/
    flex-grow: 0.1;
}
#btnReset {
    font-size: 10pt;
    color: white;
    padding: 10px 30px;
    margin-left: 1%;
    border-radius: 20px;
    letter-spacing: 2px;
    background: #fff linear-gradient(to right, #333 0%, #666 51%, #999 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    transition: .9s;
    display: block;
    flex-grow: 1;
}
#btnSend {
    font-size: 10pt;
    color: greenyellow;
    padding: 10px 30px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 20px;
    letter-spacing: 2px;
    background: #fff linear-gradient(to right, #333 0%, #666 51%, #999 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    transition: .9s;
    display: block;
    flex-grow: 6;
}
#btnCancel {
    font-size: 10pt;
    color: red;
    padding: 10px 30px;
    margin-right: 1%;
    border-radius: 20px;
    letter-spacing: 2px;
    background: #fff linear-gradient(to right, #333 0%, #666 51%, #999 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    transition: .9s;
    display: block;
    flex-grow: 1;
}

#btnReset:hover {
    color: black;
    background: white;
}
#btnSend:hover {
    color: black;
    background: lime;
}
#btnCancel:hover {
    color: black;
    background: red;
}
/* КОНЕЦ */