body {
    font-family: Arial-Narrow, Arial, Verdana, sans-serif; /* Семейство шрифтов */
    font-size: 24pt; /* Размер основного шрифта в пунктах  */
    background-color: #404045; /* Цвет фона веб-страницы */
    color: #333; /* Цвет основного текста */
    border: 3px double gray; /* Параметры границы */
    padding: 6px;
    position: relative; /* absolute | fixed | relative | static | inherit */
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; /* Семейство шрифтов */
    color: #fff
}

#blockBase {
    width: 50%; /* Ширина слоя */
    padding: 9px; /* Поля вокруг текста */
    border: 3px solid black; /* Параметры границы */
    background: #fc0; /* Цвет фона */
    display: block; /* Строчно-блочный элем<<ент */
    margin-left: 25%;
}

#blockName {
    width: auto; /* Ширина первого слоя */
    padding: 9px; /* Поля вокруг текста */
    background: #f80; /* Цвет фона */
}

#userName {
    background: #eee; /* Цвет фона */
    font-family: monospace, Helvetica, sans-serif; /* Семейство шрифтов */
    font-size: 18pt; /* Размер основного шрифта в пунктах  */
    display: inline-block; /* Строчно-блочный элемент */
    width: 25%; /* Ширина первого слоя */
}

#blockSex {
    margin-top: 3px;
    width: auto; /* Ширина первого слоя */
    padding: 9px; /* Поля вокруг текста */
    background: #448; /* Цвет фона */
    /* position: fixed; /* absolute | fixed | relative | static | inherit */
}

#blockSend {
    padding: 9px; /* Поля вокруг текста */
    margin-top: 6px;
    background: #666; /* Цвет фона */
    display: block; /* Строчно-блочный элем<<ент */
    width: auto; /* Ширина первого слоя */
}

#btnSend {
    width: 20%; /* Ширина первого слоя */
    margin-left: 80%;
    background: #b0b0b5; /* Цвет фона */
    /*  display: inline; */
    font-family: Helvetica, Verdana, sans-serif; /* Семейство шрифтов */
    font-size: 16pt; /* Размер основного шрифта в пунктах  */
}

#sexSelector {
    font-family: monospace, Helvetica, sans-serif; /* Семейство шрифтов */
    font-size: 12pt; /* Размер основного шрифта в пунктах  */
    width: 100%; /* Ширина первого слоя */
}