* {
    color:red
}

body {
    font-family: Arial-Narrow, Arial, Verdana, sans-serif; /* Семейство шрифтов */
    font-size: 20pt; /* Размер основного шрифта в пунктах  */
    background-color: #303035; /* Цвет фона веб-страницы */
}

h1 {
    color: #fff
}


#blockBase {
    width: auto; /* Ширина слоя */
    border: 3px solid black; /* Параметры границы */
    background: #fc0; /* Цвет фона */
}

#blockLink {
    margin: 0px;
    padding: 0px;
    
    margin-left: 28%;
    height: 200px;
    padding-bottom: 9px;
}

#imLink {
    float: left; /*Задаем обтекание*/
    line-height: 16px;/*Высота строки +  верт. центрирования текста*/
    font-size: 40px;
    color: white;
    margin-right: 10px;
}